*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #448aff;
}

.container {
    background-color: #ffffff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#time {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.digits {
    font-size: 40px;
    font-weight: bold;
    margin: 0 5px;
}

.text {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
}

#buttons {
    margin-top: 20px;
}

.btn1 {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #3e8e41;
}